<h1 class="text-center"><%= @thing.name %></h1>

<div class="container">
  <div class="row">
    <div class"col-lg-3">
      <p> Date Needed: <%= @thing.date %> </p>
      <p> Duration: <%= @thing.days %> </p>
    </div>
    <div class="col-lg-8">
      <h4> Specifics of Gear Desired: </h4>
      <p> <%= @thing.body %> </p>
    </div>
  </div>
</div>
