<h2 class="text-center"><%= @user.first_name%></h2>

<div class="page">


<h4>Items Borrowed:</h2>
  <% @items.each do |item| %>
  <h4><%= item.name%></h4><br>
<% end %>

<div>
  <p><%= link_to "Back To List of Explorers", users_path %></p>
  </div>
</div>
