<h2 class="text-center"><%= @user.first_name%></h2>

<div class="contatiner">
  <div class="row">
    <div class="col-lg-4 center-block pro">
      <p><%= image_tag(@user.profile_photo) %> </p>
    </div>
    <div class="col-lg-8 pro">
      <h3>About my Trips:</h3>
      <p><%= @user.profile %></p>
    </div>
  </div>
</div>

<div class="contatiner">
  <div class="row">
    <h4 class="text-center"><%= link_to "Back To List of Explorers", users_path %></h4>
  </div>
</div>
