<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @thing.searcher.first_name %>,</h1>
    <p>
      Your item <%= @thing.name %> has been selected to lend. They can be reached out at <%= @thing.searcher.email %>.
    </p>
    <p>Happy Treking!</p>
  </body>
</html>
