<h1 class="text-center" > GearX </h4>

  <div class="container">
    <div class="row home">
      <div class="col-md-2">
      </div>
      <div class="col-md-2 button center-block">
        <button type="button" class="btn btn-default btn-lg btn-block"> <%=link_to "Inventory".html_safe, items_path %></button>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-2 button center-block">
        <button type="button" class="btn btn-default btn-lg btn-block">  <%=link_to "User Profiles".html_safe, users_path %></button>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-2 button center-block">
        <button type="button" class="btn btn-default btn-lg btn-block">  <%=link_to "Wish List".html_safe, things_path %></button>
      </div>
      <div class="col-md-2">
      </div>
    </div>

  </div>
  <div class="offer-view image-only">
    <div class="offer-image text-center">
      <img src="http://i.imgur.com/9hpJOcJ.png" style="padding-bottom: 0px;">
    </div>
  </div>
