<h2 class="text-center"><%=link_to "<button>Add New Item</button>".html_safe, new_bit_path %></h2>

<div id="app"></div>
<% @bits.each do |item| %>
  <div class="container">
      <div class="row">
        <div class="col-md-4 box title">
          <p><%= link_to item.name, item_path(item)%> </p>
          <div class="product-img">
            <%= image_tag(item.image, class: "img-responsive") %>
          </div>
        </div>
    <% end %>
  </div>
</div>
