.mySlides{
  height: 200px;
  opacity: .65;
  /*width: 90%;*/
}

.button{
  padding: 200px;
}

body{
  background-color: #a3c2c2;
}

.box{
  border: 5px;
  border-style: solid;
  border-color: black;
  height: 350px;
  width: 350px;
  margin: 20px;
}

.product img{
  max-width: 300px;
  max-height: 300px;
  margin: auto;
  border: 2px;
  border-style: solid;
  border-color: black;
}

.row{
  margin-left: 20px;
  margin-right: 20px;
}

.links{
  margin-top: 20px;
  margin-left: 70px;
  margin-right: 70px;
}
