.mySlides {
  height: 200px;
  opacity: 1;
  width: 100%;
}

.log{
  text-align: center;
}


nav{
  height: 70px;
  background: linear-gradient( to top, #a3c2c2, #556a8c);
}

body{
  background-color: #a3c2c2;
  font-family: 'Abel', sans-serif;
}

h1 {
  font-family: 'Cabin Sketch', cursive;
}

.home{
  margin: 0 auto;
}

.box{
  border: 5px;
  border-style: solid;
  border-color: black;
  height: 350px;
  width: 350px;
  margin: 20px;
}

.product img{
  max-width: 300px;
  max-height: 300px;
  margin: auto;
  border: 2px;
  border-style: solid;
  border-color: black;
}

.row{
  margin-left: 20px;
  margin-right: 20px;
}

.links{
  margin-top: 20px;
  margin-left: 70px;
  margin-right: 70px;
}

.navbar-right{
  margin-right: 20px;
}

.page{
  margin-left: 50px;
  margin-right: 50px;
}

.title{
  font-size: 100pt;
  font-style: bold;
}

.input-mysize{
  width: 1000px;
}

.page{
  margin-left: 70px;
  margin-right: 70px;
}

.pro img{
  width: 250px;
  height: 250px;
  margin-left: 13%;
  border: 2px;
  border-style: solid;
}

.pro{
  height: 270px;
  padding: 5px;
  font-size: 16pt;
}
.field{
  padding: 5px;
}

.form{
  border: 2px;
  border-radius: 25px;
  border-color: #556a8c;
  border-style: solid;
  padding-top: 12px;
  padding-bottom: 12px;
  float: none;
  margin: 0 auto;
}

.login{
  margin: 0 auto;
}

.review{
  background: rgba(225, 225, 225, .8);
  margin: 5px;
  padding: 5px;
}
