
#app img{
  max-width: 300px;
  max-height: 300px;
  margin: auto;
  border: 2px;
  border-style: solid;
  border-color: black;
  text-align: center;
}

.item{
  display: inline-block;
  border: solid;
  border-color: #556a8c;
  padding: 10px;
}

.des-box{
  font-size: 15pt;
  font-style: bold;
  background: rgba(225, 225, 225, .8);
  max-width: 300px;
}

.select{
  font-size: 10pt;
  text-align: center;
  margin: 10px;
}

.thing{
  background: rgba(225, 225, 225, .8);
  font-size: 15pt;
}
