<h1 class="text-center">Update your Review</h1>

<div class="container">
  <div class="col-lg-6 text-center form">
  <%= form_for [@item, @review] do |f| %>
  <div class="row">
    <div class="field">
      <%= f.label :body, "What did you think?" %><br>
      <%= f.text_field :body %>
    </div>
  </div>
  <div class="row">
    <div class="actions">
       <%= f.submit "Update"%>
    </div>
  </div>
  <% end %>
</div>
