<%= form_for [@item, @review] do |f| %>
  <div class="field">
    <%= f.label :body, "Review" %><br>
    <%= f.text_field :body %>
  </div>

  <div class="actions">
     <%= f.submit "Update Review"%>
  </div>
<% end %>
